body {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 0.5em;
}

a {
	text-decoration: none;
}

.terms {
	word-break: break-word;
	line-height: 2em;
	font-family: monospace;
	font-size: 1.5em;
	background: #eee;
	display: inline-block;
	padding: 0 0.5em;
}
.keywords ul {
    list-style: none;
    display: inline;
	padding: 0;
}
.keyword {
    display: inline;
    margin-right: 0.5em;
}
.line {
    line-height: 1.6em;
	margin-bottom: 0.5em;
	padding-left: 1.5em;
	text-indent: -1em;
}

.title {
    border-top: 2px solid black;
    background-color: #eee;
}
.title .sequence-link {
    color: #666;
}
.title .index {
    background-color: white;
	display: inline-block;
	padding: 0 0.2em;
}
.title .name {
    padding: 0 0.5em 0 0.1em;
    background-color: #eee;
}
.title .maths {
    background: none;
}
.field h3.inline {
    display: inline;
    margin-right: 0.5em;
}
.field {
    margin-bottom: 1em;
    clear: both;
    padding-left: 1.2em;
}
.maths {
	font-family: monospace;
	font-weight: bold;
	font-size: 1.2em;
	background-color: #f4f4f4;
	padding: 0 2px;
	border-radius: 2px;
}

.reference, .link {
    margin-bottom: 0.5em;
}
.offset {
    font-weight: normal;
    margin-left: 0.5em;
	color: #666;
    font-size: 1em;
    margin-top: 0.3em;
}
.program pre {
    padding-bottom: 0.5em;
	padding-left: 1em;
}

.field h3 {
    margin-left: -1em;
}
.entry {
}
.programs ul {
    list-style: none;
    padding-left: 0;
}
