body {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 0.5em;
}
.header {
	border-bottom: 1px solid #eee;
}

.logo {
	text-align: center;
}
.logo a {
	color: black;
}
.header-text {
    padding: 0 1em;
    font-style: italic;
    max-width: 50em;
    margin: 0 auto;
}

a {
	text-decoration: none;
}

.sequence-link {
	border-bottom: 1px dashed;
}

.terms {
	word-break: break-word;
	line-height: 2em;
	font-family: monospace;
	font-size: 1.5em;
	background: #eee;
	display: block;
	padding: 0 0.5em;
}
.keywords ul {
    list-style: none;
    display: inline;
	padding: 0;
}
.keyword {
    display: inline;
    margin-right: 0.5em;
}
.keyword:not(:last-child):after {
    content: '⋅';
    display: inline-block;
    margin-left: 0.5em;
    font-weight: bold;
}
.multiline .line {
    line-height: 1.6em;
	margin-bottom: 0.5em;
	padding-left: 1.5em;
	text-indent: -1em;
}
.multiline .line:nth-child(even) {
    background-color: #f4f4f4;
}

.title {
    border-top: 2px solid black;
    background-color: #ffc;
    line-height: 2em;
}
.title .index .sequence-link {
    color: #666;
}
.title .index {
    background-color: white;
	display: inline-block;
	
    padding: 0.1em 0.5em;
}
.title .name {
    padding: 0 0.5em 0 0.3em;
    /* background-color: #eee; */
}
.title .maths {
    background: none;
}
.field .header {
    margin-left: -1em;
}
.field .header.inline {
    display: inline;
    margin-right: 0.5em;
}
.field {
    margin-bottom: 1em;
    clear: both;
    padding: 0 1.2em;
}
.maths {
	font-family: monospace;
	font-weight: bold;
	font-size: 1.2em;
	padding: 0 2px;
	border-radius: 2px;
}

.reference, .link {
    margin-bottom: 0.5em;
}
.offset {
    font-weight: normal;
    /* margin-left: 0.5em; */
	
    color: #666;
    font-size: 1em;
    margin-top: 0.3em;
    /* font-style: italic; */
    text-align: right;
}
.program pre {
    padding-bottom: 0.5em;
	padding-left: 1em;
	line-height: 2em;
}

.entry {
}
.programs ul {
    list-style: none;
}

.search-box {
	text-align: center;
	padding: 1em 0;
}
.search-box .query {
	max-width: 90%;
	width: 30em;
	padding: 0.3em;
	border: 1px solid #ccc;
	border-radius: 2px;
	margin: 0 0.3em;
	font-family: monospace;
	font-size: 1.25em;
}
.search-box button[type=submit] {
	height: 1.9em;
}

.user .name {
	font-weight: normal;
}

.example-searches {
	line-height: 1.5em;
	list-style: none;
}
.example-searches .query {
	font-family: monospace;
	font-size: 1.25em;
}
.footer {
    text-align: center;
    border-top: 1px solid #ddd;
    margin-top: 5em;
    font-size: 0.8em;
}
.footer .license {
    font-style: italic;
}
