<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width"/>
		<title>cp's OEIS frontend</title>

		{% block css %}
		<link rel="stylesheet" href="{{ url_for('static',filename='normalize.css') }}"></link>
		<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}"></link>
		{% endblock css %}
	</head>
	<body>
		<div class="header">
			<h1 class="logo"><a href="/">cp's OEIS Frontend</a></h1>
			<div class="header-text">
				<p>This is a front-end for the <a href="http://oeis.org">Online Encyclopedia of Integer Sequences</a>, made by <a href="http://checkmyworking.com">Christian Perfect</a>. The idea is to provide OEIS entries in non-ancient HTML, and then to think about how they're presented visually.</p>
			</div>
		</div>

		{% block content %}{% endblock %}

		<div class="footer">
			<p class="credits">Started in 1964 by <a href="http://neilsloane.com">Neil J. A. Sloane</a> | Maintained by <a href="http://oeisf.org">The OEIS Foundation Inc</a>.</a>

		<p class="license">Content is available under <a href="http://oeis.org/wiki/The_OEIS_End-User_License_Agreement">The OEIS End-User License Agreement</a>.</p>
	</body>
</html>
