<div class="entry">
	<h2 class="title">
		<span class="index">{{entry.index|addlinks}}</span>
		<span class="name">{{entry.name|addlinks}}</span>
	</h2>
	<h3><a href="http://oeis.org/{{entry.index}}">Original entry on oeis.org</a></h3>
	<div class="author">
		<h3>Author</h3>
		{{entry.author|addlinks}}
	</div>
	<div class="terms-box">
		<h3>Terms</h3>
		<span class="terms">{{entry.terms}}</span>
	</div>
	<div class="offset">
		<h3>Offset</h3>
		{{entry.offset}}
	</div>
	<div class="keywords">
		<h3>Keywords</h3>
		<ul>
			{% for keyword in entry.keywords %}
			<li class="keyword"><a href="{{ url_for('show_keyword',keyword=keyword) }}">{{keyword}}</a></li>
			{% endfor %}
		</ul>
	</div>
	{% if entry.comments %}
	<div class="comments">
		<h3>Comments</h3>
		{{entry.comments|multiline|addlinks}}
	</div>
	{% endif %}
	{% if entry.examples %}
	<div class="examples">
		<h3>Examples</h3>
		{{entry.examples|multiline|addlinks}}
	</div>
	{% endif %}
	{% if entry.references %}
	<div class="references">
		<h3>References</h3>
		<ul class="reference-list">
			{% for reference in entry.references %}
			<li class="reference">{{reference|addlinks}}</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	{% if entry.links %}
	<div class="links">
		<h3>Links</h3>
		<ul class="links-list">
			{% for link in entry.links %}
			<li class="link">{{link|addlinks}}</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	{% if entry.cross_references %}
	<div class="cross-references">
		<h3>Crossrefs</h3>
		{{entry.cross_references|addlinks}}
	</div>
	{% endif %}
	{% if entry.programs.keys() %}
	<div class="programs">
		<h3>Programs</h3>
		<ul>
			{% for language,program in entry.programs.items() %}
			<li class="program">
				<h4>{{language}}</h4>
				<pre>{{program}}</pre>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	{% if entry.formula %}
	<div class="formula">
		<h3>Formula</h3>
		{{entry.formula}}
	</div>
	{% endif %}
	{% if entry.extensions %}
	<div class="extensions">
		<h3>Extensions</h3>
		{{entry.extensions|multiline|addlinks}}
	</div>
	{% endif %}
</div>
