<div class="entry">
	<h3 class="title">
		<span class="index">{{entry.index|addlinks}}</span>
		<span class="name">{{entry.name|maths|addlinks}}</span>
	</h3>
	<p><a href="http://oeis.org/{{entry.index}}">Original entry on oeis.org</a></p>
	<div class="field terms-box">
		<span class="terms">{{entry.terms|join(', ')}}</span>
		<div class="offset">Offset: {{entry.offset}}</div>
	</div>
	<div class="field author">
		<h4 class="header">Author</h4>
		{{entry.author|addlinks}}
	</div>
	<div class="field keywords">
		<h4 class="header">Keywords</h4>
		<ul>
			{% for keyword in entry.keywords %}<li class="keyword"><a href="{{ url_for('show_keyword',keyword=keyword) }}">{{keyword}}</a></li>{% endfor %}
		</ul>
	</div>
	{% if entry.comments %}
	<div class="field comments">
		<h4 class="header">Comments</h4>
		{{entry.comments|maths|addlinks|multiline}}
	</div>
	{% endif %}
	{% if entry.examples %}
	<div class="field examples">
		<h4 class="header">Examples</h4>
		{{entry.examples|maths|addlinks|multiline}}
	</div>
	{% endif %}
	{% if entry.references %}
	<div class="field references">
		<h4 class="header">References</h4>
		<ul class="reference-list">
			{% for reference in entry.references %}
			<li class="reference">{{reference|addlinks}}</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	{% if entry.links %}
	<div class="field links">
		<h4 class="header">Links</h4>
		<ul class="links-list">
			{% for link in entry.links %}
			<li class="link">{{link|safe}}</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	{% if entry.cross_references %}
	<div class="field cross-references">
		<h4 class="header">Crossrefs</h4>
		{{entry.cross_references|maths|addlinks|multiline}}
	</div>
	{% endif %}
	{% if entry.programs %}
	<div class="field programs">
		<h4 class="header">Programs</h4>
		<ul>
			{% for language,program in entry.programs %}
			<li class="program">
				<h5 class="header">{{language}}</h5>
				<pre>{{program|addlinks}}</pre>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	{% if entry.formula %}
	<div class="field formula">
		<h4 class="header">Formula</h4>
		{{entry.formula|maths|addlinks|multiline}}
	</div>
	{% endif %}
	{% if entry.extensions %}
	<div class="field extensions">
		<h4 class="header">Extensions</h4>
		{{entry.extensions|maths|addlinks|multiline}}
	</div>
	{% endif %}
</div>
